.blog-page-wrapper :deep(.blog-home) {
    display: flex;
    box-sizing: border-box;
    padding: 15px;
    max-width: var(--max-width);
    overflow: visible !important;


    .left-sidebar {

        #sticky {
            position: sticky;
            top: 70px;
        }

        .nav-lable {
            color: #000;
            font-weight: bold;
        }

        ul {
            margin: 0;
            padding: 0 !important;
            width: 110px;

            li {
                list-style: none;
                left: 0;

                a {
                    color: rgb(53, 53, 53);
                    transition: all 0.4s;
                }

                a:hover {
                    color: var(--theme-color-light);
                }
            }


        }
    }

    .reight-root {
        width: 100%;

        .right-nav {
            margin-top: 40px;

            h2 {
                font-weight: bold;
            }

            .item-root {
                display: grid;
                gap: 20px;
                grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

                .n-item {
                    box-sizing: border-box;
                    padding: 0 10px;
                    display: flex;
                    align-items: center;
                    height: 90px;
                    border: 1px solid var(--theme-color-light);
                    background-color: rgba(255, 255, 255, 0.8);
                    border-radius: 8px;
                    transition: all 0.4s;

                    .icon-img {
                        width: 64px;
                        height: 64px;
                        overflow: hidden;

                        img {
                            width: 100%;
                        }
                    }

                    .text-root {
                        position: relative;
                        box-sizing: border-box;
                        padding-left: 15px;
                        width: 195px;

                        b {
                            position: relative;
                            padding: 0;
                            font-weight: bold;

                            a {
                                display: inline-block;
                                max-width: 100%;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }

                        b:after {
                            content: '';
                            position: absolute;
                            width: 0%;
                            height: 1px;
                            left: 0;
                            bottom: 0;
                            background-color: var(--theme-color-light);
                            transition: all 0.3s;
                        }

                        b:hover:after {
                            width: 100%;
                        }

                        p {
                            padding: 0;
                            margin: 3px 0 0 0;
                            line-height: 1.3;
                            font-size: 14px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            cursor: pointer;
                        }

                        p:hover+span {
                            display: block !important;
                        }

                        .toolip {
                            position: absolute;
                            z-index: 999;
                            display: none !important;
                            margin-top: 5px;
                            display: inline-block;
                            font-size: 10px;
                            background-color: rgba($color: #000000, $alpha: 0.7);
                            border-radius: 5px;
                            padding: 5px;
                            max-width: 300px;
                            color: #fff;
                        }

                        .toolip:after{
                            content: '';
                            position: absolute;
                            left: 30px;
                            top: -7px;
                            border-right: 7px solid transparent;
                            border-bottom: 7px solid rgba($color: #000000, $alpha: 0.7);;
                            border-left: 7px solid transparent;
                            height: 0;
                            width: 0;
                        }
                    }
                }

                .n-item:hover {
                    transform: translateY(-4px);
                    box-shadow: 0px 4px 10px rgb(189, 189, 189);
                    z-index: 99;
                }
            }
        }
    }
}

html[data-theme=dark] .blog-page-wrapper :deep(.blog-home) {
    background-color: rgba(34, 36, 41, 0.8);
}


html[data-theme=light] .blog-page-wrapper :deep(.blog-home) {
    background-color: rgba(255, 255, 255, 0.9);
}


@media only screen and (max-width: 750px) {
    .left-sidebar {
        display: none;
    }
}